body{
    font-family: 'Noto Sans KR', sans-serif;;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.padding-reset{
    padding: 0px;
}

.container-fluid{
    margin: 0 auto;
    width: 1280px;
    padding: 0;
}

.row{
    padding: 0 14px;
    margin: 0;
}

.icon{
    background-image: url("mega-image/icon.png");
}

/* header style */

#header{
    position: sticky;
    top: 0;
    z-index: 3;
    background: #fff;
}

#header-logo{
    display: flex;
}

.header-height{
    height: 50px;
}

#logo{
    padding-right: 15px;
}
#logo-sub{
    display: flex;
    align-items: center;

}

#bar-icon{
    width:25px;
    order: 1;
}

#nav{
    display: flex;
    justify-content: end;
    border-right: 1px solid lightgray;
    font-size: 15px; font-weight: 700; color: #444;
}

#nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    border-left: 1px solid lightgray;
    height: 50px;
    width: 85px;
}

/* banner style */

.carousel-inner{
    height: 526px;
}

#banner-row{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    max-width: 1280px;
    z-index: 1;
}

#banner-row a, span{
    color: #fff;
    padding: 0px 8px;
    align-self: center;
}

.menu-box{
    border: 1px solid #fff;
}

#banner-row button{
    transition: all 0.3s;
}

.banner-button-white{
    height: 42px;
    padding: 7px 33px 9px 33px;
    border: 1px solid #fff;
    color: #3a0e6a;
    background-color: #fff;
    margin: 0 13px;
}

.banner-button-purple{
    height: 42px;
    padding: 7px 40px 9px 40px;
    border: 1px solid #6e40c4;
    color: #fff;
    background-color: #3a0e6a;
}

.carousel-item{
    height: 100%;
}

.carousel-item img{
    height: 100%;
    object-fit: cover;
}

.carousel-caption{
    top: 13rem;
    padding: 0;
}

.carousel-caption h3{
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-weight: 600;
}

.carousel-caption p{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #bbb;
    font-weight: 100;
}

/* movie style */

#movie{
    padding-top: 100px;
}

#movie-reserve{
    display: none;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}

#movie-title{
    display: block;
    width: 848px;
    height: 57px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    padding: 0;
    margin: 0 auto;
}

#movie-title li{
    list-style: none;
    line-height: 57px;
    text-align: center;
    float: left;
    width: 25%;
    border-right: 1px solid lightgray;
}

#movie-title a{
    display: block;
    color: #666;
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.active{
    background: #666;
    color: #fff !important;
}

.clear{
    clear: both;
}

#movie-slider{
    width: 100%;
    height: 583px;
    display: -webkit-inline-box;
    padding-top: 44px;
    flex-wrap: nowrap;
    overflow: hidden;
}

#movie-list{
    width: 25%;
    position: relative;
    padding: 0 10px;
}

#movie-list img{
    object-fit: cover;
    width: 100%;
}

#movie-wrapper{
    border: 1px solid lightgray;
}

#movie-rank{
    position: absolute;
    top:17px;
    width: 50px;
    height: 50px;
    background-color: #3a0e6a;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 1px 1px 3px rgb(0 0 0 / 50%);
}

.rank-style{
    position: absolute;
    top: 10px;
    left: 12px;
}

#mx{
    position: absolute;
    top: 17px;
    right: 17px;
    width: 103px;
    height: 25px;
    background-position: 0 -75px;
}

#information{
    padding: 17px;
}

#information-top{
    display: flex;
    margin-bottom: 20px;
}

#film-rating{
    margin-top: 9px;
    width: 29px;
    height: 29px;
}

.rating-icon1{
    background-position: -87px -125px;
}

.rating-icon2{
    background-position: -58px -125px;
}

.rating-icon3{
    background-position: 0 -125px;
}

.rating-icon4{
    background-position: -29px -125px;
}

#movie-name{
    color: #333;
    font-size: 30px;
    margin-left: 10px;
}

#information-bottom button{
    width: 49%;
    padding: 10px 0;
    text-align: center;
    background: #f2f2f2;
    color: #666;
    font-size: 18px;
    border : none;
    font-weight: 600;
}

@media screen and (max-width: 1279px) {
    .container-fluid{
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 991px){
    #header-logo {
        width: 100%;
        justify-content: space-between;
    }

    #logo{order: 1;}

    .carousel-inner{
        height: 450px;
    }

    .carousel-caption h3{
        font-size: 40px;
    }

    .carousel-caption p{
        font-size: 16px;
    }

    #banner-row a{
        display: none;
    }

    #movie-title{
        max-width: 848px;
        width: auto;
    }

    #movie-list{
        width: 33%;
    }
}

@media screen and (max-width: 767px){
    .carousel-inner{
        height: 350px;
    }

    .carousel-control{
        display: none;
    }

    .carousel-caption h3{
        font-size: 30px;
    }

    .carousel-caption p{
        font-size: 12px;
    }

    #banner-row button{
        height: 31px;
        padding: 0 13px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        background: rgba(0,0,0,0.6);
        border-color: #fff;
    }

    #movie{
        padding: 0;
        background: #fff;
    }

    .movie-container{
        padding: 24px;
        border: 24px solid #d9d7e0;
    }

    #movie-reserve{
        display: block;
        padding-bottom: 5px;
    }

    #movie-title{
        border: none;
        height: 37px;
    }

    #movie ul{
        border-bottom: 1px solid lightgray;
    }

    #movie-title li{
        line-height: 37px;
        border: none;
        width: auto;
        margin-right: 35px;
    }
    
    .active{
        background: none;
        color: #666 !important;
        border-bottom: 1px solid black;
    }
    
    #movie-slider{
        padding: 0;
    }

    #movie-list{
        width: 50%;
    }
    
}